*{
    margin:0;
    padding:0;
}
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color:beige;
    text-align:center;
}
.container{
    height:70vh;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    gap:1.5vmin
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius: 2rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.4);
    font-size: 8vmin;
    font-weight:bold;
    font-family: "Varela Round", sans-serif;
    color:gold;
}
.x{
    color:red;
}
.o{
    color:blue;
}
#reset{
    padding:1rem;
    font-size: 1.5rem;
    background-color: gold;
    color:#fff;
    border-radius:1rem;
    border:none;
}
#newgame{
    padding:1rem;
    align-self:center;
    font-family: "Varela Round", sans-serif;
    font-size: 1.25rem;
    background-color: gold;
    color:#fff;
    border-radius:1rem;
    border:none;
}
#msg{
    color:#ffff;
    font-family: "Varela Round", sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size:10vmin;
}
.msg-container{
    height: 100vmin;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    gap:5rem;
    color:antiquewhite;
}
.hide{
    display:none;
}
.heading{
    padding:2rem;
    font-family: "Varela Round", sans-serif;
    text-align: center;
    color:gold;
}